* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 25px;
}

img {
  border-radius: 15px;
  margin-bottom: 20px;
  width: 450px;
  height: 450px;
}

h1 {
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  color: hsl(218, 44%, 22%);
}

.heading-paragraph {
  font-size: 1.5rem;
  color: hsl(216, 15%, 48%);
  text-align: center;
  margin-bottom: 20px;
}

.attribution {
  font-size: 15px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

p {
  font-size: 15px;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  img {
    width: 250px;
    height: 250px;
  }

  h1 {
    font-size: 1.3rem;
  }

  .heading-paragraph {
    font-size: 13px;
  }

  p {
    font-size: 9px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 601px) and (max-width: 914px) {
  .container {
    padding: 20px;
  }

  img {
    width: 400px;
    height: 400px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .heading-paragraph {
    font-size: 16px;
  }

  p {
    font-size: 11px;
    margin-bottom: 10px;
  }
}

